#-------------------------
# Test Files
#-------------------------
tests/coverage*

# Don't save phpunit under version control.
phpunit

#-------------------------
# Composer
#-------------------------
vendor/
!resources/**/vendor/

composer.lock
package-lock.json

#-------------------------
# IDE / Development Files
#-------------------------

# Modules Testing
_modules/*

# phpenv local config
.php-version

# Jetbrains editors (PHPStorm, etc)
.idea/
*.iml

# Visual Studio Code
.vscode/

/results/
/phpunit*.xml
/.phpunit.*.cache

/node_modules